{% extends 'partials/body.html' %} {% block contenido %}
<a href="{% url 'compras-crear' %}" class="btn btn-success w-25"
  >Crear {{titulo}}</a
>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Fecha De Compra</th>
      
    </tr>
  </thead>
  <tbody>
    {% for compra in compras %} 
    <tr>
      <td>{{fecha_compra}}</td>
  
        <a
          class="btn btn-danger"
          href="{% url 'compras-eliminar' compra.id %}"
          >-</a
        >
        <a
          class="btn btn-primary"
          href="{% url 'compras-modificar' compra.id %}"
          >+</a
        >
      </td>
    </tr>
    {% endif %} {% endfor %}
  </tbody>
</table>
{% endblock contenido %}
