{% extends 'partials/body.html' %}
{% block contenido %}
<a href="{% url 'compra-crear' %}" class="btn btn-success w-25"
  >Crear {{titulo}}</a
>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Fecha De Compra</th>
      <th>Acciones</th>

      
    </tr>
  </thead>
  <tbody>
    {% for compra in compras %} 
    <tr>
      <td>{{compra.fecha_compra}}</td>
      <td>
        <a
          class="btn btn-danger"
          href="{% url 'compra-eliminar' compra.id %}"
          >-</a
        >
        <a
          class="btn btn-primary"
          href="{% url 'compra-modificar' compra.id %}"
          >+</a
        >
      </td>
    </tr>
   {% endfor %}
  </tbody>
</table>
{% endblock contenido %}

