{% extends 'partials/body.html' %} {% block contenido %}
    <div class="slider">
        <div class="slider-items">
            <!-- Aquí van los elementos del slider -->

            <div class="container">
                <div class="d-flex card flex-wrap p-5 glass-card flex-row justify-content-center ">
                    {% for per in personalizar %}
                     {% include 'partials/card-producto.html' %}
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>


{% endblock contenido %}





