{% extends 'partials/body.html' %} {% block contenido %}
<a href="{% url 'unidadmedida-crear' %}" class="btn btn-success w-25"
  >Crear {{titulo}}</a
>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Unidad Medida</th>
      <th>Estado</th>
      
      
    </tr>
  </thead>
  <tbody>
    {% for unidadmedida in unidadmedidas %} {% if unidadmedida.estado != "0" %}

    <tr>
      <td>{{unidadmedida.unidadmedida}}</td>
      <td>{{unidadmedida.get_estado_display}}</td>

     
      <td>
        <a
          class="btn btn-danger"
          href="{% url 'unidadmedida-eliminar' unidadmedida.id %}"
          >Eliminar</a
        >
        <a
          class="btn btn-primary"
          href="{% url 'unidadmedida-modificar' unidadmedida.id %}"
          >Modificar</a
        >
      </td>
    </tr>
    {% endif %} {% endfor %}
  </tbody>
</table>
{% endblock contenido %}
