{% extends 'partials/body.html' %} {% block contenido %}
<a href="{% url 'proveedor-crear' %}" class="btn btn-success w-25"
  >Crear {{titulo}}</a
>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Tipo De Identificacion</th>
      <th>Nombre Del Proveedor</th>
      <th>Telefono Del Proveedor</th>
      <th>Corre Del Proveedor</th>
      <th>Direccion Del Proveedor</th>
      <th>Estado Del Proveedor</th>
    </tr>
  </thead>
  <tbody>
    {% for proveedor in compras %} {% if proveedor.estado != "0" %}

    <tr>
      <td>{{proveedor.tipo_identificacion}}</td>
      <td>{{proveedor.nombre_proveedor}}</td>
      <td>{{proveedor.telefono_proveedor}}</td>
      <td>{{proveedor.corre_proveedor}}</td>
      <td>{{proveedor.direccion_proveedor}}</td>
      <td>{{proveedor.estado_proveedor}}</td>
      <td>
        <a
          class="btn btn-danger"
          href="{% url 'proveedor-eliminar' proveedor.id %}"
          >-</a
        >
        <a
          class="btn btn-primary"
          href="{% url 'proveedor-modificar' proveedor.id %}"
          >+</a
        >
      </td>
    </tr>
    {% endif %} {% endfor %}
  </tbody>
</table>
{% endblock contenido %}
