{% extends 'partials/body.html' %}
{% load static %}
{% block contenido %}
{% if request.user.groups.first.name == 'Administrador' or request.user.groups.first.name == 'Cajero' %}
    <ol class="breadcrumb px-3 float-sm-right d-flex justify-content-end">
        <li class="breadcrumb-item fw-bolder letras-texto">
            <a href="{% url 'index' %}" style="text-decoration: none; color: #68411d;">Inicio</a>
        </li>
        <li class="breadcrumb-item active fw-bolder letras-texto" style="color: #7e6c5c;">{{ titulo }}</li>
    </ol>
    <div class="wrapper">
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row px-1 px-sm-3" style="min-width: 270px;">
                    <div class="col px-1 px-sm-3">
                        <div class="px-1 px-sm-3">
                            <div class="fs-1 fw-bold">
                                <h3 class="py-5">{{ titulo }}</h3>
                            </div>
                            <div class="d-flex">
                                <div class="p-5 mx-3 "
                                     style=" background-color: #fcf9f5; border-color: #68411d; border-width: 3px; border-style: solid;">
                                    <b>id de Venta</b> <br>
                                    <p>{{ venta.id }}</p>
                                    <b>Fecha</b> <br>
                                    <p>{{ venta.fecha }}</p>
                                    <b>Mesa</b><br>
                                    <p>{{ venta.numero_mesa }}</p>
                                </div>
                                <div class="table-responsive p-3 "
                                     style=" background-color: #fcf9f5; border-color: #68411d; border-width: 3px; border-style: solid;">
                                    <table id="example1" class="table table-bordered table-striped py-5">
                                        <thead style="background-color: #fcf9f5">
                                        <tr style="background-color: #d4c6b5;text-align: center;">
                                            <th>Producto</th>
                                            <th>Cantidad de Producto</th>
                                            <th> Valor total</th>
                                            {% if request.user.groups.first.name == 'Administrador' %}
                                                <th>Acciones</th>
                                            {% endif %}
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for detalle_venta in detalle_ventas %}
                                            {% if detalle_venta.estado != '0' %}
                                                <tr style="background-color: #f3eee9">
                                                    <td style="color: #68411d;text-align: center;">{{ detalle_venta.producto }}</td>
                                                    <td style="color: #68411d;text-align: center;">{{ detalle_venta.cantidad_producto }}</td>
                                                    <td style="color: #68411d;text-align: center;">{{ detalle_venta.valor_total }}</td>
                                                    {% if request.user.groups.first.name == 'Administrador' %}
                                                        <td style="text-align: center;">
                                                            <button type="button" data-ident="{{ detalle_venta.id }}"
                                                                    class="btnEliminar animatede-button"
                                                                    data-bs-toggle="modal" data-bs-target="#modalConf">
                                                                Eliminar
                                                            </button>
                                                            <a class="btn animatedm-button btn-primary"
                                                               href="{% url 'detalle_venta-modificar' detalle_venta.id %}">Modificar</a>
                                                        </td>
                                                    {% endif %}
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                        <tr style="background-color: #f3eee9">
                                            <td style="color: #68411d;text-align: center;">
                                                <form method="POST">
                                                    {% csrf_token %}
                                                    <select name="producto" class="select form-select" required=""
                                                            id="id_producto">
                                                        <option value="" selected="">---------</option>
                                                        {% for producto in productos %}
                                                            <option value="{{ producto.id }}">{{ producto }}</option>
                                                        {% endfor %}
                                                    </select>
                                            </td>
                                            <td style="color: #68411d;text-align: center;">
                                                <input type="number" name="producto" class="numberinput form-control"
                                                       required="" id="id_producto"></td>
                                            <td style="color: #68411d;text-align: center;">
                                                <input type="number" name="cantidad_producto"
                                                       class="numberinput form-control" required=""
                                                       id="id_cantidad_producto">
                                            </td>
                                            <td style="color: #68411d;text-align: center;">
                                                <input type="number" name="Valor_total" class="numberinput form-control"
                                                       required="" id="id_valor_total"></td>
                                            <td>
                                                <button type="submit" class="btn btn-success">+</button>
                                            </td>
                                            </form>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
{% endif %}
{% endblock contenido%}