{% extends 'partials/body.html' %} {% block contenido %}
<a href="{% url 'marca-crear' %}" class="btn btn-success w-25"
  >Crear {{titulo}}</a
>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Estado</th>
    </tr>
  </thead>
  <tbody>
    {% for marca in marcas %} {% if marca.estado != "0" %}

    <tr>
      <td>{{marca.nombre}}</td>
      <td>{{marca.get_estado_display}}</td>

      <td>
        <a
          class="btn btn-danger"
          href="{% url 'marca-eliminar' marca.id %}"
          >Eliminar</a
        >
        <a
          class="btn btn-primary"
          href="{% url 'marca-modificar' marca.id %}"
          >Modificar</a
        >
      </td>
    </tr>
    {% endif %} {% endfor %}
  </tbody>
</table>
{% endblock contenido %}
