.tamaño_logo{
    width: 50px;
}
.color_negro{
    background-color:#000000;

}
.color_dorado{
    background-color:#E89E2E;
    color: #000000;
}
.color_dorado:hover{
    background-color:#ffffff;
    color: #000000;
}
.color_plata{
    background-color:#F2F3F7;
}
.color_verde{
    background-color:#3F6C51;
}
.color_rojo{
    background-color:#C03221;
}

.color_toggle{
    background-color: #E89E2E;
}
.ancho_imagen{
    width: 90%;
}

.color_blanco{
    color:#ffffff;
}

.color_blanco:hover{
    color:#ffffff;
}

.gradient-form {
    background-image: url('/static/img/462280.jpg');
    background-size: cover;
}
html, body {
    height: 100%;
  }
  
  .wrapper {
    min-height: 100%;
    /* Opcional: agrega margen inferior para separar el contenido del footer */
    margin-bottom: 60px; /* Ajusta el valor según sea necesario */
  }
  
  .footer {
    padding: 20px;
  }
  


