{% extends 'partials/body-login.html' %}
{% load static %}
{% block contenido %}
    <link rel="stylesheet" href="/static/css/style.css">

    <section class="h-200vh gradient-form3 d-flex align-items-center justify-content-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8">
                    <div class="card rounded-3 text-black text-center">
                        <div class="card-body p-5">
                            <img class="float-left custom-img" src="/static/img/logo11y6.png" alt="Imagen">
                            <div class="login-box elevation-5">
                                <div class="h1 centered-button"><b>11</b>y6</div>
                                <div class="card-body">
                                    <p class="login-box-msg centered-button"><strong>Revisa tu correo electrónico para restablecer tu contraseña.</strong></p>
                                    <div class="centered-button">
                                        <a href="{% url 'inicio' %}" class="color_dorado btn btn">Iniciar sesión</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock contenido %}
