{% extends 'partials/body-login.html' %}
{% load static %}
{% block contenido %}

<div class="card text-center" style="width: 300px;">
  <div class="card-header h5 text-white bg-primary">Recuperar Contraseña</div>
  <div class="card-body px-5">
      <p class="card-text py-2">
        Ingresa tu dirección de correo electrónico para recibir un enlace para restablecer la contraseña.
      </p>
      <form method="post">
        {% csrf_token %}
      <div class="form-outline">
          <input type="email" id="typeEmail" class="form-control my-3" placeholder="Ingrese un Correo" />
          <label class="form-label" for="typeEmail"></label>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary w-100">Recuperar Contraseña</button>
      </div>
      <div class="d-flex justify-content-between mt-4">
        <button href="" type="submit" class="btn btn-primary btn-block">Login</button>
        <button type="submit" class="btn btn-primary btn-block">Registrarse</button>
      </div>
    </form>
  </div>
</div>
{% endblock contenido %}