{% extends 'partials/body.html' %} {% block contenido %}
<a href="{% url 'presentacion-crear' %}" class="btn btn-success w-25"
  >Crear {{titulo}}</a
>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Presentacion</th>
      <th>Estado</th>
      
    </tr>
  </thead>
  <tbody>
    {% for presentacion in presentaciones %} {% if presentacion.estado != "0" %}

    <tr>
      <td>{{presentacion.presentacion}}</td>
      <td>{{presentacion.get_estado_display}}</td>

     
      <td>  
        <a
          class="btn btn-danger"
          href="{% url 'presentacion-eliminar' presentacion.id %}"
          >Eliminar</a
        >
        <a
          class="btn btn-primary"
          href="{% url 'presentacion-modificar' presentacion.id %}"
          >Modificar</a
        >
      </td>
    </tr>
    {% endif %} {% endfor %}
  </tbody>
</table>
{% endblock contenido %}
