{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static '/node_modules/bootstrap/dist/css/bootstrap.css' %}">
    <script src="{% static '/node_modules/jquery/dist/jquery.min.js' %}"></script>
    <!-- Incluye el plugin slick -->
    {#        <link rel="stylesheet" href="{% static 'node_modules/css/adminlte.min.css' %}">#}
    <link rel="stylesheet" href="{% static '/node_modules/overlayscrollbars/styles/overlayscrollbars.min.css' %}">
    <link href="{% static '//node_modules/datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}"
          rel="stylesheet"/>
    <!-- libreria sweetalert2 -->
    <link rel="stylesheet" href="{% static '/node_modules/sweetalert2/dist/sweetalert2.min.css' %}">
    <link rel="stylesheet" href="{% static '/node_modules/bootstrap-icons/font/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title> 11y6 - Iniciar Sesión </title>
</head>

<body class="hold-transition dark-mode login-page">

{% block contenido %}

{% endblock contenido %}


</body>
{% include 'partials/scripts.html' %}
</html>