{% load static %}
<link rel="stylesheet" href="/static/css/style.css">
<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom bg-black ">
<div class="row justify-content-center align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none ">
  <div class="col-auto">
  <a href="/inicio/" >
<img class="tamaño_logo" src="/static/img/logo11y6.png" alt=""><svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
</a>
</div>
</div>
<ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
<li><button type="button" class="color_dorado btn"><a href="{% url 'index' %}" class="dropdown-item">inicio</a></button> </li>
<li> <div class="dropdown rounded color_dorado">
  <button class="color_dorado btn btn.secondary dropdown-toggle " type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Usuario
  </button>
  <ul class="dropdown-menu color_dorado ">
    <li>
      <a href="{% url 'persona' %}" class="dropdown-item color_dorado">Persona</a>
    </li>
    <li>
      <a href="{% url 'eps' %}" class="dropdown-item color_dorado">Eps</a>
    </li>
    <li>
      <a href="{% url 'turno' %}" class="dropdown-item color_dorado">Turno</a>
    </li> 
    <li>
      <a href="{% url 'trabajador' %}" class="dropdown-item color_dorado">Trabajador</a>
    </li>
  </ul>
</div></li>
<li><div class="dropdown color_dorado rounded ">
  <button class="color_dorado btn btn.secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Venta
  </button>
  <ul class="dropdown-menu color_dorado">
    <li>
      <a href="{% url 'detalle_venta' %}" class="dropdown-item color_dorado">Detalle Venta</a>
    </li>
    <li>
      <a href="{% url 'venta' %}" class="dropdown-item color_dorado">Venta</a>
    </li>
    <li>
      <a href="{% url 'reserva' %}" class="dropdown-item color_dorado">Reserva</a>
    </li>
    <li>
      <a href="{% url 'ubicacion' %}" class="dropdown-item color_dorado">Ubicación</a>
    </li>
  </ul>
</div></li>
<li><div class="dropdown color_dorado rounded">
  <button class="color_dorado btn btn.secondary dropdown-toggle "  type="button" data-bs-toggle="dropdown" aria-expanded="false">
   Compra
  </button>
  <ul class="dropdown-menu color_dorado">
    <a href="{% url 'compra' %}" class="dropdown-item color_dorado">Compra</a>
    <li>
      <a href="{% url 'detalle_compra' %}" class="dropdown-item color_dorado">Detalle Compra</a>
    </li>
    <li>
      <a href="{% url 'evento' %}" class="dropdown-item color_dorado">Eventos</a>
    </li>
    <li>
      <a href="{% url 'proveedor' %}" class="dropdown-item color_dorado">Proveedor</a>
    </li>
  </ul>
</div></li>
<li><div class="dropdown color_dorado rounded">
  <button class="color_dorado btn btn.secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Inventario
  </button>
  <ul class="dropdown-menu">
    <li>
      <a href="{% url 'producto' %}" class="dropdown-item color_dorado">Producto</a>
    </li>
    <li>
      <a href="{% url 'marca' %}" class="dropdown-item color_dorado">Marcas</a>
    </li>
    <li>
      <a href="{% url 'presentacion' %}" class="dropdown-item color_dorado">Presentacion</a>
    </li>
    <li>
      <a href="{% url 'unidadmedida' %}" class="dropdown-item color_dorado">Unidad Medida</a>
    </li>
    <li>
      <a href="{% url 'consumotrabajador' %}" class="dropdown-item color_dorado">Consumo Trabajador</a>
    </li>
  </ul>
</div></li>
</ul>
<div class="col-md-3 text-end">

</div>
</header>