{% extends 'partials/body.html' %}
{% load bootstrap_icons %}
{% block contenido %}
    <div class="wrapper">
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card glass-card">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h3 class="card-title"> {{ titulo }} </h3>
                                <a href="{% url 'turno-crear' %}" class="btn color_dorado w-25">Crear {{ titulo }}</a>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <div class="d-flex justify-content-end">
                                                <ol class="breadcrumb float-sm-right">
                                                    <li class="breadcrumb-item"><a
                                                            href="{% url 'index' %}">Inicio</a></li>
                                                    <li class="breadcrumb-item active"><a
                                                            href="{% url 'turno' %}">{{ titulo }}</a></li>
                                                    <li class="breadcrumb-item active">{{ titulo }} </li>
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                    <table id="example1" class="table table-bordered table-striped table-dark">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Fecha de Ingreso</th>
                                            <th>Fecha de Salida</th>
                                            <th class="notexport">Estado</th>
                                            <th class="notexport">Acciones</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for turno in turnos %}
                                            {% if turno.estado != "0" %}
                                                <tr>
                                                    <td>{{ turno.id }}
                                                    <td>{{ turno.fecha_ingreso }}</td>
                                                    <td>{{ turno.fecha_salida }}</td>
                                                    <td>{{ turno.get_estado_display }}</td>
                                                    <td>
                                                        <button type="button" data-cafe-bar="{{ turno.id }}"
                                                                class="btnEliminar btn btn-danger"
                                                                data-bs-toggle="modal" data-bs-target="#modalConf">
                                                            {% bs_icon 'trash' %}
                                                        </button>
                                                        <a class="btn btn-primary"
                                                               href="{% url 'turno-modificar' user.id %}">
                                                                {% bs_icon 'pencil-square' %}
                                                            </a>
                                                    </td>
                                                </tr>
                                            {% endif %} {% endfor %}
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <th>ID</th>
                                            <th>Fecha de Ingreso</th>
                                            <th>Fecha de Salida</th>
                                            <th class="notexport">Estado</th>
                                            <th class="notexport">Acciones</th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
{% endblock contenido %}

