{% extends 'partials/body.html' %} {% block contenido %}
<a href="{% url 'compras-crear' %}" class="btn btn-success w-25"
  >Crear {{titulo}}</a
>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Nombre Del Evento</th>
      <th>Fecha Incio Evento</th>
      <th>Fecha Fin Evento</th>
      <th>Descrpción Del Evento</th>
      <th>Estado Del Evento</th>
    </tr>
  </thead>
  <tbody>
    {% for evento in compras %} {% if evento.estado_evento != "0" %}

    <tr>
      <td>{{evento.nombre_evento}}</td>
      <td>{{evento.fecha_inicio_evento}}</td>
      <td>{{evento.fecha_fin_evento}}</td>
      <td>{{evento.descripcion_evento}}</td>
      <td>{{evento.estado_evento}}</td>
      <td>
        <a class="btn btn-danger" href="{% url 'compras-eliminar' evento.id %}"
          >-</a
        >
        <a
          class="btn btn-primary"
          href="{% url 'compras-modificar' evento.id %}"
          >+</a
        >
      </td>
    </tr>
    {% endif %} {% endfor %}
  </tbody>
</table>
{% endblock contenido %}
