{% extends 'partials/body.html' %}
{% load bootstrap_icons %}
{% block contenido %}
    <div class="wrapper">
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card glass-card">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h3 class="card-title"> {{ titulo }} </h3>
                                <a href="{% url 'detalle_compra-crear' %}"
                                   class="btn color_dorado w-25">Crear {{ titulo }}</a>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <div class="d-flex justify-content-end">
                                            <ol class="breadcrumb float-sm-right">
                                                <li class="breadcrumb-item"><a
                                                        href="{% url 'index' %}">Inicio</a></li>
                                                <li class="breadcrumb-item active"><a
                                                        href="{% url 'detalle_compra' %}">{{ titulo }}</a></li>
                                                <li class="breadcrumb-item active">{{ titulo }} </li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <br><br>
                                    </div>
                                </div>
                                <table id="example1" class="table table-bordered table-striped table-dark">
                                    <thead>
                                    <tr>
                                        <th>Producto</th>
                                        <th>Cantidad Producto</th>
                                        <th>Valor Total</th>
                                        <th>Acciones</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for detalle_compra in detalle_compras %}

                                        <tr>
                                            <td>{{ detalle_compra.nombre_producto}}</td>
                                            <td>{{ detalle_compra.cantidad_producto }}</td>
                                            <td>{{ detalle_compra.valor_total }}</td>

                                            <td>
                                                <button type="button" data-cafe-bar="{{ detalle_compra.id }}"
                                                        class="btnEliminar btn btn-danger"
                                                        data-bs-toggle="modal" data-bs-target="#modalConf">
                                                    {% bs_icon 'trash' %}
                                                </button>
                                                <a class="btn btn-primary"
                                                               href="{% url 'persona-modificar' user.id %}">
                                                                {% bs_icon 'pencil-square' %}
                                                            </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>Producto</th>
                                        <th>Cantidad Producto</th>
                                        <th>Valor Total</th>
                                        <th>Acciones</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
{% endblock contenido %}

