{% extends 'partials/body.html' %}
{% load bootstrap_icons %}
{% block contenido %}
<div class="wrapper">
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
              <h3 class="card-title"> {{titulo}} </h3>
                  <a href="{% url 'detalle_compra-crear' %}" class="btn color_dorado w-25">Crear {{titulo}}</a>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example1" class="table table-bordered table-striped table-dark">
                <thead>
                  <tr>
                    <th>Cantidad Producto</th>
                    <th>Valor Total</th>
                    <th>Acciones</th>
                  </tr>
              </thead>
            <tbody>
              {% for detalle_compra in detalle_compras %}

    <tr>
      <td>{{detalle_compra.cantidad_producto}}</td>
      <td>{{detalle_compra.valor_total}}</td>

      <td>
        <button  type="button" data-cafe-bar="{{detalle_compra.id}}" class="btnEliminar btn btn-danger"
        data-bs-toggle="modal" data-bs-target="#modalConf">
        {% bs_icon 'trash' %}
    </button>
        <a
          class="btn btn-primary"
          href="{% url 'detalle_compra-modificar' detalle_compra.id %}"
          >Modificar</a
        >
      </td>
    </tr>
    {% endfor %}
            </tbody>
            <tfoot>
              <tr>
                <th>Cantidad Producto</th>
                <th>Valor Total</th>
                <th>Acciones</th>
              </tr>
            </tfoot>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
{% endblock contenido %}

