{% extends 'partials/body.html' %} 
{% block contenido %}
<a href="{% url 'detalle_compra-crear' %}" class="btn btn-success w-25"
  >Crear {{titulo}}</a
>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Cantidad Producto</th>
      <th>Valor Total</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for detalle_compra in detalle_compras %}

    <tr>
      <td>{{detalle_compra.cantidad_producto}}</td>
      <td>{{detalle_compra.valor_total}}</td>

      <td>
        <a
          class="btn btn-danger"
          href="{% url 'detalle_compra-eliminar' detalle_compra.id %}"
          >-</a
        >
        <a
          class="btn btn-primary"
          href="{% url 'detalle_compra-modificar' detalle_compra.id %}"
          >+</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock contenido %}