{% extends 'partials/body.html' %}
{% block contenido %}
<a href="{% url 'persona-crear' %}" class="btn btn-success w-25"
  >Crear {{titulo}}</a
>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Nombre Completo</th>
      <th>Apellido Completo</th>
      <th>Tipo de Documento</th>
      <th>Documento</th>
      <th>Rol</th>
      <th>Dirección</th>
      <th>Correo</th>
      <th>Usuario</th>
      <th>Contraseña</th>
      <th>Salario</th>
      <th>Estado</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for persona in personas %} {% if persona.estado != "0" %}

    <tr>
      <td>{{persona.nombre}}</td>
      <td>{{persona.apellido}}</td>
      <td>{{persona.tipo_documento}}</td>
      <td>{{persona.documento}}</td>
      <td>{{persona.rol}}</td>
      <td>{{persona.direccion}}</td>
      <td>{{persona.correo}}</td>
      <td>{{persona.usuario}}</td>
      <td>{{persona.contrasena}}</td>
      <td>{{persona.salario}}</td>
      <td>{{persona.estado}}</td>
      <td>
        <a
          class="btn btn-danger"
          href="{% url 'persona-eliminar' persona.id %}"
          >-</a
        >
        <a
          class="btn btn-primary"
          href="{% url 'persona-modificar' persona.id %}"
          >+</a
        >
      </td>
    </tr>
    {% endif %} {% endfor %}
  </tbody>
</table>
{% endblock contenido %}
