{% extends 'partials/body.html' %} {% block contenido %}
<a href="{% url 'detalle_venta-crear' %}" class="btn btn-success w-25"
  >Crear {{titulo}}</a
>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Cantidad Producto</th>
    </tr>
  </thead>
  <tbody>
    {% for detalle_venta in detalle_ventas %}
    <tr>
      <td>{{detalle_venta.cantidad_producto}}</td>
      <td>
        <a
          class="btn btn-danger"
          href="{% url 'detalle_venta-eliminar' detalle_venta.id %}"
          >-</a
        >
        <a
          class="btn btn-primary"
          href="{% url 'detalle_venta-modificar' detalle_venta.id %}"
          >+</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock contenido %}
