{% extends 'partials/body.html' %} {% block contenido %}
<a href="{% url 'eps-crear' %}" class="btn btn-success w-25"
  >Crear {{titulo}}</a
>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Estado</th>
      <ht>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for eps in usuario %} {% if eps.estado != "0" %}

    <tr>
      <td>{{eps.nombre}}</td>
      <td>{{eps.estado}}</td>
      <td>
        <a
          class="btn btn-danger"
          href="{% url 'personas-eliminar' persona.id %}"
          >-</a
        >
        <a
          class="btn btn-primary"
          href="{% url 'personas-modificar' persona.id %}"
          >+</a
        >
      </td>
    </tr>
    {% endif %} {% endfor %}
  </tbody>
</table>
{% endblock contenido %}
