{% extends 'partials/body.html' %}
{% load bootstrap_icons %}
{% block contenido %}
<a href="{% url 'turno-crear' %}" class="btn btn-success w-25"
  >Crear {{titulo}}</a
>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Fecha de Ingreso</th>
      <th>Fecha de Salida</th>
      <th>Estado</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for turno in turnos %}

    <tr>
      <td>{{turno.fecha_ingreso}}</td>
      <td>{{turno.fecha_salida}}</td>
      <td>{{ turno.get_estado_display}}</td>
      <td>
        <button  type="button" data-cafe-bar="{{turno.id}}" class="btnEliminar btn btn-danger"
        data-bs-toggle="modal" data-bs-target="#modalConf">
        {% bs_icon 'trash' %}
    </button>
        <a
          class="btn btn-primary"
          href="{% url 'turno-modificar' turno.id %}"
          >Modificar</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock contenido %}
