{% extends 'partials/body.html' %}
{% load bootstrap_icons %}
{% block contenido %}
<a href="{% url 'trabajador-crear' %}" class="btn btn-success w-25">Crear {{titulo}}</a
>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Documento</th>
      <th>Correo</th>
      <th>Direccion</th>
      <th>Usuario</th>
      <th>Contraseña</th>
      <th>Estado</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for trabajador in trabajadores %}
    {% if trabajador.estado != "0" %}

    <tr>
      <td>{{trabajador.nombre}}</td>
      <td>{{trabajador.apellido}}</td>
      <td>{{trabajador.documento}}</td>
      <td>{{trabajador.correo}}</td>
      <td>{{trabajador.direccion}}</td>
      <td>{{trabajador.usuario}}</td>
      <td>{{trabajador.contrasena}}</td>
      <td>{{trabajador.get_estado_display}}</td>

      <td>
        <button  type="button" data-cafe-bar="{{trabajador.id}}" class="btnEliminar btn btn-danger"
        data-bs-toggle="modal" data-bs-target="#modalConf">
        {% bs_icon 'trash' %}
    </button>
        <a
          class="btn btn-primary"
          href="{% url 'trabajador-modificar' trabajador.id %}"
          >Modificar</a
        >
      </td>
    </tr>
    {% endif %} {% endfor %}
  </tbody>
</table>
{% endblock contenido %}
